html , body{
    margin          : 0 ; 
    padding         : 0 ; 
    scroll-behavior: smooth;
    box-sizing: border-box;
  font-family: Arial;
}

*{
text-decoration: none;
outline        :  none ;
}


.hero{
  background-image: url("bg2.png");
  background-size: cover;
  padding: 260px;
}

body {
    margin: 0;
    font-family: Arial;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #000;
    border-bottom: solid 5px #e50914;
    padding: 20px;
  }
  
  .topnav a {
    float: left;
    color: #919191;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: #f2f2f2;
  }
  
  .topnav a.active {
    background-color: #000;
    color: white;
  }
  
  
  .topnav-right {
    float: right;
  }

  .p1
  {
    color: #f2f2f2;
    font-size: 56px;
    text-align: center;
    margin: 0;
    font-weight: bolder;
  }
  .p2
  {
    color: #f2f2f2;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 20px;


  }
  .srch
  {
    float: right;
    border: none;
    padding: 5px;
  }
  #srch
  {
    background-color: #e50914;
    color: #f2f2f2;
    border: none;
  }
  footer
  {
    overflow: hidden;
    background-color: #e50914;
    color: #f2f2f2;
    padding: 20px;
  }
  .lng
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.dd
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 20px;
    padding: 20px;
}

h4
{
    text-align: center;
}
.dd p{
  text-align: center;
}
#label
{
  
  border: none;
  font-size: 20px;
}

.wpn
{
  cursor: pointer;
}
